<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="js/jquery-3.6.0.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/report.js"></script>
</head>
<body>
    <div class="card">
        <h5>Reporte Ventas</h5>
        <button id="btn">BTN</button>
        <table>
            <thead id="headReport">
                <th>Date</th>
                <th>Descuento</th>
                <th>Neto</th>
                <th>Iva</th>
                <th>Total</th>
            </thead>
            <tbody id="bodyReport">
                <tr>
                    <td>2021-11-02</td>
                    <td>0</td>
                    <td>100</td>
                    <td>19</td>
                    <td>119</td>
                </tr>
            </tbody>
        </table>






        <form>
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="txtDate">Fecha</label>
                    <input id="txtDate" type="text" class="form-control">
                </div>

                <div class="form-group col-3">
                    <label for="txtDiscount">Descuento</label>
                    <input id="txtDiscount" type="text" class="form-control">
                </div>

                <div class="form-group col-3">
                    <label for="txtIva">Iva</label>
                    <input id="txtIva" type="text" class="form-control">
                </div>

                <div class="form-group col-3">
                    <label for="txtTotal">Total</label>
                    <input id="txtTotal" type="text" class="form-control">
                </div>
                <div class="col-3">

                </div>

            </div>
        </form>

    </div>

</body>
</html>